.header{
    background-color: navy;
    color: white;
    margin: auto 0;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}
.logo img {
	width: 80px;
	height: auto;
}
.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
}
.headings h1 {
	font-size: 1.5rem;
}

.m {
	letter-spacing: 1pt;
	color: thistle;
	font-weight: 700;
	font-size: 0.8rem;
}



.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 10px;
	text-align: right;
	text-decoration: none;
	color:white;
	font-weight: bold;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
	content:  "";
}

.navigation a:hover {
	color: black;
	background-color:thistle
}
.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "❌ ";
}
body{
    background-color: thistle;
    padding: 20px;
    margin: auto 0;

}
main{
    padding: 20px;
    border:solid navy;
}
p{
    font-family: roboto;
    font-size: 16px;
    padding: 5px;
    color: black;
}
h1{
    font-family: Barlow;
    font-size: 24pt;
    padding: 5px;
}
h2{
    font-family: Barlow;
    padding: 5px;
    font-size: 22px;
}

.gweru{
    display: block;

}
.hero{
    background-color:white;
    padding: 10px;
    margin: 5px;
    border: solid navy;
}
.event{
    background-color:white;
    padding:10px;
    margin: 5px;
    border: solid navy;
}
.weather{
    background-color: white;
    padding: 10px;
    border: solid navy;
    margin: 5px;

}
.news{
    background-color: white;
    padding: 10px;
    border: solid navy;
    margin: 5px;   
}
.spot{
    background-color: white;
    padding: 10px;
    border: solid navy;
    margin: 5px;    
}
.light{
    display: block;
}
.spotlight1{
    border: solid navy;
    margin: 5px;;
    padding: 5px;
}
.spotlight2{
    border: solid navy;
    margin: 5px;
    padding: 5px;
}
.spotlight3{
    display: none;
}
.join{
    display: none;
}
footer{
    background-color: navy;
    padding: 10px;
    margin: auto 0;
    text-align: center;

}
