:root {
    --back: rgb(127, 185, 194);
    --back2: rgb(98, 140, 166);
    --foredark: hsla(0, 0%, 10%, 1);
    --forelight: black;
    --border: hsl(0, 0%, 20%);
    --borderlight: #899da7;
    --shadow: rgb(127,161,182);
    --zebra: rgb(231, 255, 237);
    --odd:rgb(231,240,237);
  }
  
  table {
    margin: 10px auto;
    border: thin solid var(--border);
    box-shadow: 0 0 30px var(--shadow);
    border-collapse: collapse;
  }
  
  td#exceeded{
    background-color:rgb(98,140,166);
    color:white;
  }
  td#itt{
    font-style:italic;
  }
  
  caption {
    padding: 10px;
    caption-side: bottom;
    color: var(--back);
    font-size: 0.85rem;
  }
  body {
    font-family:'Ubuntu', sans-serif;
  }
  tr:first-child th {
    background-color: var(--back);
    color: var(--forelight);
  }
  
  th,
  td {
    padding: 7px 15px;
    border: 1px solid var(--borderlight);
  }
  
  th {
    background-color: var(--back2);
  }
  
  #thd{
        font-size: 1.75em;
  }
  
  td {
    text-align: center;
  }
  
  tbody tr:nth-child(even) {
    background-color: var(--zebra);
  }
  tbody tr:nth-child(odd) {
      background-color:var(--odd);
  }
  
  thead,
  tfoot {
    color: white;
  }
  
  tfoot {
    font-size: 0.8rem;
  }
  footer, header{
    margin: 0;
    text-align: center;
  }
  h1{
    font-size: 1.4rem;
  }