header{
    background-color: navy;
    color: white;
    margin: auto 0;
    padding: 10px;
    display:grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    font-weight: bold;
    font-size: 18px;
    align-items: center;
    
}


h1 > a {
    text-decoration: none;
    color:white ;
}
.header-logo  picture > img {
    margin-left: 10%;
    margin-top: 5%;
    max-width: 4em;
    grid-column: 1;
  }
  .social-icons picture a >img {
    max-width: 1.8em;
  }
  
  .social-icons {
    display: flex;
    flex-direction: row;
  }
  .social-content {
    grid-row: 1;
    grid-column: 8;
  }
  .sitename{
    grid-column: 2/5;
    font-size: 1rem;
    padding: 5px;
  }
  nav button {
    background: navy;
    border: none;
    font-size: 2rem;
    color: white;
    border: solid thistle;
  }
  nav {
    background-color: navy;
    grid-column: 10;
    justify-self: center;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

  }
  nav ul li a {
    padding: 0.8rem 2vw;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    display: block;
    background-color: navy;
  }
  nav ul li.active a {
    background-color: black;
    color: #fff;
  }
  
  nav ul li a:hover {
    background-color: thistle;
  }
  
  nav ul {
    display: none;
  }
  nav ul.open {
    display: block;
    position: absolute;
    top: 119px;
    right: 2.5%;
    width: 90%;
    background: navy;
}
#hum-button span:nth-child(1) {
    display: block;
  }
  #hum-button span:nth-child(2) {
    display: none;
  }
  
  #hum-button.open span:nth-child(1) {
    display: none;
  }
  #hum-button.open span:nth-child(2) {
    display: block;
  }
  
.time {
    text-align: center;
    grid-column: span 10;
    color: white;
  }


body{
    background-color: thistle;
    padding: 20px;
    margin: auto 0;

}
main{
    padding: 20px;
    border:solid navy;
}
p{
    font-family: roboto;
    font-size: 16px;
    padding: 5px;
    color: black;
}
h1{
    font-family: Barlow;
    font-size: 1em;
    padding: 5px;
}
h2{
    font-family: Barlow;
    padding: 5px;
    font-size: 22px;
}

.gweru{
    display: block;

}
.hero{
    background-color: white;
    padding: 10px;
    margin: 5px;
    border: solid navy;
    position: relative;
}
div.gweru > div.hero > picture > img {width: 100%;}
#small-G{
    height: auto;
    width: 100%;
}
#big-G{
    display: none;
}
#welcome{
    position: absolute;
    background-color: thistle;
    font-size: 1em;
    top: 0;
    padding: 5px;
    font-weight: bold;
}
#h2w{
    position: absolute;
    background-color:thistle;
    left: 20px;
    bottom: 15px;
    border-radius: 20px;
    font-size: 18px;
}
.w2k {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin-left: 10%;
  }
  
  #gweather {
    max-width: 50%;
  }
  
  #temp {
    position: absolute;
    left: 51%;
    top: 25%;
    font-size: 1.5em;
  }
  
  #partly {
    position: absolute;
    left: 2%;
    top: 15%;
    font-weight: bold;
    font-size: 0.8em;
  }
  .wehide{
      grid-column: 1/3;
      grid-row: 1;
      border-top: solid thistle;
  }
  .ws{
      grid-column: 1;
      grid-row: 2;
  }
  .speed{
      grid-column: 2;
      grid-row:2 ;
  }
  .wc{
      grid-column: 1;
      grid-row:3 ;
  }
  .na{
      grid-column: 2;
      grid-row: 3;
  }
.event{
    background-color:white;
    padding:10px;
    margin: 5px;
    border: solid navy;
}
.weather{
    background-color: white;
    padding: 10px;
    border: solid navy;
    margin: 5px;
    position: relative;

}
.news{
    background-color: white;
    padding: 10px;
    border: solid navy;
    margin: 5px;   
}
.spot{
    background-color: white;
    padding: 10px;
    border: solid navy;
    margin: 5px;    
}
.light{
    display: block;
}
.spotlight1{
    border: solid navy;
    margin: 5px;;
    padding: 5px;
}
.spotlight2{
    border: solid navy;
    margin: 5px;
    padding: 5px;
}
.spotlight3{
    display: none;
}
 .realestate{
    width: 70%;
    height: auto;
}
.car{
    width: 70%;
    height: auto;
}
.join{
    display: none;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--header-font);
    font-weight: bold;
    font-size: 14px;
    background-color: navy;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    color: white;
  }
  footer > div {
    padding-bottom: 10px;
  }
  
  .footlogoo  picture > img {
    width: 180px;
    padding-top: 5%;
  }
  
  hr {
    margin: 15px;
    opacity: 75%;
  }
  .footer-site-contact >a{
      color: thistle;
  }
  



/* CSS FOR DISCOVER BEGINS HERE */
main.discover {
    display: flex;
    flex-direction: column;
    max-width: 27em;
    margin: auto;
  }
  main.discover > span {
    max-width: 27em;
    margin: auto;
    font-family: Barlow;
    font-weight: bold;
    padding: 0;
    background-color: thistle;
  }
  
  main.discover > div.places > picture > img {
    width: -webkit-fill-available;
    padding: 0.5em;
    transition: transform 2s ease-in-out;
  }
  
  main.discover > div.places > picture > img:hover {
    transition: transform 2s ease-in-out;
    position: relative;
    top: -25px;
    left: -35px;
    width: 500px;
    height: auto;
    display: block;
    z-index: 999;
    box-shadow: 1px 1px 1px 1px grey;
  }
  
  main.discover > div.places {
    padding: 0;
  }
  
  main.discover > div.places > p {
    padding: 1em;
    padding-top: 0;
    margin: auto;
    background: white;
  }
  