
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 10px;
	text-align: left;
	text-decoration: none;
	color:white;
	font-weight: bold;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
	content:  "";
}

.navigation a:hover {
	color: black;
	background-color:thistle
}
.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "❌ ";
}

header{
    background-color: navy;
    padding: 10px;
    margin: auto 0;
}
body{
    padding: 20px;
    background-color: thistle;
    margin: auto 0;
    

}
main{border: solid navy;}
h1{
    background-color: navy;
    color: white;
    font-size: 24pt;
    padding: 5px;
    font-family: Barlow;
    font-weight: bold;
    text-align: center;
}
h2{
    padding: 5px;
    background-color: navy;
    color: white;
    font-size: 22px;
    font-weight:bold ;
    font-family: Barlow;
    text-align: center;
}
h3{
    padding: 5px;
    background-color:thistle;
    color:black;
    font-size:20px ;
    font-family: Barlow;
    text-align: center;
}
p{
    padding: 5px;
    font-size: 16px;
    font-family: Roboto;

}
footer{
    background-color: navy;
    color: white;
    padding: 10px;
}
table th td{
    border: solid black;
    width: 100%;
}
.blue{
    background-color: navy;
    color: white;
    width: 100%;
    height:100%;
    border:solid black;
}
.white{
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    border:solid black;
}
.black{
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    border:solid black;
}
.thristle{
    background-color: thistle;
    color: black;
    width: 100%;
    height: 100%;
    border:solid black;
    
}

.table{
    background-color: white;
    border: solid black;
    width: 100%;
    height: 100%;
    font-size: 22pt;
}
.colored{
    background-color: navy;
    color: white;
    padding: 5px;
}

@media  screen and (min-width:37.5em){
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block; 
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }

}
  /*  nav ul li a{
        padding: 10px;

    }
    nav ul{
        list-style-type: none;
        display: flex;
        padding: 10px;
        margin: auto 0;
        justify-content: space-around;
    }
}
.navigation{
    display: flex;
}*/
        

@media screen and  (min-width:60em){
    .navigation{
        display: flex;
        padding: 10px;
        margin: auto 0;
        justify-content: space-around;
        list-style-type: none;
    }
    .navigation li:first-child{
        display: none;
    }
    .navigation a{
        font-weight: bold;
        font-family: Barlow;
        font-size: 22px;
    }

    }
    .ham{
        display: none;
    }
    header{
        background-color:navy ;
    
    }
    h1{
        font-size: 37px;
    }
    h2{
        font-size: 24px;
    }
    p{
        font-size: 18px;
    }
        
        
        
    

