 nav ul li a{
     
    background-color: navy;
    padding: 10px;
    color: white;
    text-align: start;
    display: block;
    text-decoration:none ;

}
nav ul a:hover{
    background-color: thistle;
    color: black;
}
header{
    background-color: navy;
    padding: 10px;
    margin: auto 0;
}
body{
    padding: 20px;
    background-color: thistle;
    margin: auto 0;
    

}
main{border: solid navy;}
h1{
    background-color: navy;
    color: white;
    font-size: 24pt;
    padding: 5px;
    font-family: Barlow;
    font-weight: bold;
    text-align: center;
}
h2{
    padding: 5px;
    background-color: navy;
    color: white;
    font-size: 22px;
    font-weight:bold ;
    font-family: Barlow;
    text-align: center;
}
h3{
    padding: 5px;
    background-color:thistle;
    color:black;
    font-size:20px ;
    font-family: Barlow;
    text-align: center;
}
p{
    padding: 5px;
    font-size: 16px;
    font-family: Roboto;

}
footer{
    background-color: navy;
    color: white;
    padding: 10px;
}
table th td{
    border: solid black;
    width: 100%;
}
.blue{
    background-color: navy;
    color: white;
    width: 100%;
    height:100%;
    border:solid black;
}
.white{
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    border:solid black;
}
.black{
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    border:solid black;
}
.thristle{
    background-color: thistle;
    color: black;
    width: 100%;
    height: 100%;
    border:solid black;
    
}

.table{
    background-color: white;
    border: solid black;
    width: 100%;
    height: 100%;
    font-size: 22pt;
}
.colored{
    background-color: navy;
    color: white;
    padding: 5px;
}

@media  screen and (min-width:37.5em){
    nav ul li a{
        padding: 10px;

    }
    nav ul{
        list-style-type: none;
        display: flex;
        padding: 10px;
        margin: auto 0;
        justify-content: space-around;
    }
}
        

    @media screen and  (min-width:60em){
    nav ul li a{
            text-align: right;
            padding: 10px;
            font-size: 22pt;
        
        
        }
    nav ul{
        list-style-type: none;
        display: flex;
        padding: 10px;
        margin: auto 0;
        justify-content: space-around;

    }
    header{
        background-color:navy ;
    
    }
    h1{
        font-size: 37px;
    }
    h2{
        font-size: 24px;
    }
    p{
        font-size: 18px;
    }
        
    
    
    }